<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
<p>Required Documentation
To obtain the following documents, you must notify your school district of your intent to attend Warren Tech.   
<b>Do not send this application until all documents are included.</b></p>
<br>
      <input type="file">
      <input type="checkbox">
      Grade Seven and Eight Report Cards
      <br>
      <input type="file">
      <input type="checkbox">
      PARCC Scores
      <br>
      <input type="file">
      <input type="checkbox">
      Complete Middle School Discipline Record
      <br>
      <input type="file">
      <input type="checkbox">
      Signed Parental Release
      <br>
      <input type="file">
      <input type="checkbox">
      Letter of Recommendation from Guidance Counselor or Administrator Summarizing Student’s  
      Overall Performance at the Middle School Level
      <br>
      <input type="file">
      <input type="checkbox">
      Letter of Recommendation from Teacher or Other Individual Familiar with the Student
      <br>
      <input type="file">
      <input type="checkbox">
      Essay Answering the Following Questions:  Why do You Want to Attend Warren Tech? – AND – Why 
      do you want to enroll in the career program you are choosing?
      <br>
<p><b>Please all of the information above to one of the following staff members.</b></p>
<ul>
    <li><a href="mailto:forsythed@wctech.org">Principal</a>
    <li><a href="mailto:mylecrainej@wctech.org">Vice Principal</a></li>
    <li><a href="mailto:lentines@wctech.org">Administrative Secretary/Guidance</a></li>
    <li><a href="mailto:orchullij@wctech.org">Freshman and Sophomore Counsler</a></li>
    <li><a href="mailto:sartek@wctech.org">Junior and Senior Counsler</a></li>
</ul>
    </body>
</html>
